<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div>
    <span>セッションID: </span><span th:text="${sessionId}"></span>
</div>
<hr>
<h4>入力した値</h4>
<div th:object="${userForm}" th:unless="${userForm} == null">
    <p th:text="*{name}" th:unless="*{name} == null"/>
    <p th:if="*{name} == null">セッションオブジェクトはあるけど、値は初期化されているよ</p>
</div>
<p th:if="${userForm} == null">セッションオブジェクトが初期化されているよ</p>
<hr>
<div>
    <p>セッションオブジェクトの存在確認</p>
    <a th:href="@{/user/detail}">入力直後のページに戻る</a>
    <br>
    <a th:href="@{/user/input}">入力ページに戻る</a>
    <br>
    <hr>
    <a th:href="@{/user/session/complete}">sessionStatus.setComplete(@SessionAttributeなし)</a>
    <br>
    <a th:href="@{/user/session/discard}">session.invalidate(@SessionAttributeなし)</a>
</div>
</body>
</html>